<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>Controllers.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hi</servlet-name>
        <servlet-class>Controllers.Hi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>Controllers.web.Student.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxHandler</servlet-name>
        <servlet-class>Controllers.AjaxHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEditController</servlet-name>
        <servlet-class>Controllers.web.Student.StudentEditController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentEditController</servlet-name>
        <url-pattern>/student/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxHandler</servlet-name>
        <url-pattern>/AjaxHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hi</servlet-name>
        <url-pattern>/Hi</url-pattern>
    </servlet-mapping>
</web-app>